.App {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

.Button {
  background-color: green;
  font: inherit;
  color: white;
  border: 1px solid gray;
  padding: 8px;
  cursor: pointer;
}

.Button.Red {
  background-color: red;
}

.Button:hover {
  background-color: lightgreen;
  color: black;
}

.Button:hover.Red {
  background-color: salmon;
  color: black;
}
